// FORM
// State


/// Controls the presentation of form input behavior.
///
/// @group Forms
///
/// @parameter {String} $input-or-label - Sets pseudo class behavior.
///
/// @example scss
///  @include form-state(label);


@mixin form-state($input-or-label) {
    @if ($input-or-label == "input") {
        &:hover {
            border-color: c(form, hover);
        }

        &:active {
            border-color: c(form, active);
        }

        &:focus {
            border-color: c(form, focus);
        }
    }

    @else if ($input-or-label == "label") {
        color: c(form, base);

        &:hover {
            color: c(form, hover);
        }

        &:active {
            color: c(form, active);
        }

        &:focus {
            color: c(form, focus);
        }
    }

    @else {
        @error "`#{$input-or-label}`"
        + $meta-invalid-argument
        + $meta-invalid-argument-select-either
        + "`input` or `label`";
    }
}


// TOGGLES --------------------------------------------------------------------
// Enables functional class toggles. See `_toggles.scss`
@if $toggle-form-state-link == true {
    .form-state-input {
        @include form-state(input);
    }
}

@if $toggle-form-state-input == true {
    .form-state-label {
        @include form-state(label);
    }
}
