// BORDERS


/// REVIEW: Remember to update these values to match the design.
///
/// @group general
///
/// @property {String} key - Aliases for border widths.
///
/// @see {variable} global-border-radius


$borders: (
    thickest: 10px,
    thicker:  5px,
    thick:    3px,
    thin:     2px,
    thinner:  1px,
    thinnest: 0.025em
);
