// HTML


// [1] Ensure the page always fills at least the entire height of the viewport
// [2] Force scrollbars to always be visible to prevent awkward jumps when
// navigating between pages
// [3] Ensures text stays legible if the user has selected an atypical OS theme
// [4] Overrides smartphone text resizing algorithms:
// https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust
// [5] Triggers browser hyphenation based off of declared language:
// http://thenewcode.com/429/Classic-Typography-Effects-Hyphenation
// [6] Keeps the background color present if the browser bounces at a scrolling
// boundary
html {
    @include typography-kerning();
    @include typography-ligatures-common();

    margin: 0;
    min-height: 100%; // [1]
    overflow-y: scroll; // [2]
    padding: 0;

    background-color: c(base, background); // [6] SEE: `_body.scss`

    color: c(base, type); // [3]
    direction: $global-type-direction;
    font-family: $font-family-primary-preload; // See Type Loading section below
    font-size: $global-type-size;
    font-weight: $global-type-weight;
    line-height: $global-type-line-height;
    text-size-adjust: 100%; // [4]

    -ms-overflow-style: scrollbar;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    &:lang(en-US) {
         @include typography-hyphenation(); // [5]

         text-align: left;
    }

    // Supports
    @supports #{$supports-hanging-punctuation} {
        hanging-punctuation: first;
    }

    // Media Queries
    // Only apply to devices that support font smoothing:
    // https://www.zachleat.com/web/font-smooth/
    @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx) {
        @include typography-smoothing(light-on-dark);
    }

    // https://msdn.microsoft.com/en-us/library/hh869615(v=vs.85).aspx
    @-ms-viewport {
        width: device-width;
    }
}


// TYPE LOADING
// https://helpx.adobe.com/typekit/using/font-events.html
.wf {
    &-loading {

    }

    &-inactive {

    }

    &-active {
        font-family: $global-type-family;
    }
}


// BORDER-BOX
// Applies `border-box` to all HTML elements:
// https://github.com/AllThingsSmitty/css-protips#inherit-box-sizing
*,
*::before,
*::after {
    box-sizing: border-box;
}


// MICROSOFT VIEWPORT
// Treat desktops and mobile devices the same way
@-ms-viewport {
    width: device-width;
}
