// RESET


// Tweaks that sit on top of `normalize.css`


// ZEROING
// Zeroes out all HTML elements to allow uniform component-level styling
body, article, nav, aside, section, header, footer, main, address,
h1, h2, h3, h4, h5, h6,
p, hr, pre, blockquote, ol, ul, li, dl, dt, dd, figure, figcaption, div,
table, caption, thead, tbody, tfoot, tr, th, td, col, colgroup,
form, fieldset, legend, label, input, button, select, datalist, optgroup, option, textarea,
keygen, output, progress, meter,
details, summary, command, menu,
del, ins,
img, iframe, embed, object, param, video, audio, source, canvas, track, map, area,
a, em, strong, i, b, u, s, small, abbr, q, cite, dfn, sub, sup, time, code, kbd, samp, var, mark, bdi, bdo, ruby, rt, rp, span, br, wbr {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}


// ELEMENT TWEAKS

// Removes borders from linked images
a img {
    border: none;
}


// Give a help cursor to elements that give extra info on `:hover`.
abbr[title],
dfn[title] {
    cursor: help;
}


// Remove default table spacing
table {
  border-collapse: collapse;
  border-spacing: 0;
}


// Selects all content in a read-only input field
input:not([type="button"]):not([type="checkbox"]):not([type="radio"]),
textarea {
    &:read-only {
        user-select: all;
    }
}


// Prevent zooming on mobile viewports when tapped
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input datalist,
select,
textarea {
    font-size: 1rem;
    line-height: 1.05; // https://twitter.com/simevidas/status/1312784025833136128
}
