// ROOT


// Declare your initial CSS custom properties here
// https://philipwalton.com/articles/why-im-excited-about-native-css-variables/
:root {
    box-sizing: border-box;
    font-size: 100%;
    min-height: 100%;
    position: relative;
    text-size-adjust: none;

    -ms-overflow-style: scrollbar;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%; // https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/
}
