// ============================================================================
// Animation Ease
// ============================================================================


$animation-ease-character: ease-in-out;
$animation-ease-dialogue: ease-out;
$animation-ease-background: linear;
