// ============================================================================
// Animation Ease
// ============================================================================


$animation-ease-character: ease-in-out !default;
$animation-ease-dialogue: ease-out !default;
$animation-ease-background: linear !default;
