$animation-duration-shortest: 100ms;
$animation-duration-shorter: 200ms;
$animation-duration-short: 300ms;
$animation-duration-long: 500ms;
$animation-duration-longer: 700ms;
$animation-duration-longest: 900ms;
