// ============================================================================
// Animation Duration
// ============================================================================


$animation-duration-shortest: 100ms !default;
$animation-duration-shorter: 200ms !default;
$animation-duration-short: 300ms !default;
$animation-duration-long: 500ms !default;
$animation-duration-longer: 700ms !default;
$animation-duration-longest: 900ms !default;
