// Animation ==================================================================
$animation-ease: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$animation-duration-shortest: 100ms;
$animation-duration-shorter: 200ms;
$animation-duration-short: 300ms;
$animation-duration-long: 500ms;
$animation-duration-longer: 700ms;
$animation-duration-longest: 900ms;
