// ============================================================================
// Font
// Families
// ============================================================================

// Remember to include fallbacks:
// http://cssfontstack.com/
$font-family-primary: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
$font-family-primary-preload: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;

$font-family-secondary: Arial, "Helvetica Neue", Helvetica,sans-serif;
$font-family-secondary-preload: Arial, "Helvetica Neue", Helvetica,sans-serif;

$font-family-tertiary: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$font-family-tertiary-preload: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

$font-family-code: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$font-family-code-preload: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
