// ============================================================================
// Global Font
// ============================================================================


// Global =====================================================================
$global-type-family: 'Poppins', sans-serif;
$global-type-size: 16px !default;
$global-type-weight: $font-weight-medium;
$global-type-line-height: 1.4;
