// ============================================================================
// Font
// Tracking
// ============================================================================

// NOTE: Remember to update this if you change `$global-type-size`

$font-tracking-tightest: -0.4375em !default;
$font-tracking-tighter: -0.3125em !default;
$font-tracking-tight: -0.1875em !default;
$font-tracking-slight: 0.0625em !default;
$font-tracking-loose: 0.1875em !default;
$font-tracking-looser: 0.3125em !default;
$font-tracking-loosest: 0.4375em !default;
