// ============================================================================
// Font
// Families
// ============================================================================

// Remember to include fallbacks:
// http://cssfontstack.com/
$font-family-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-primary-preload: "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-family-secondary: "Lucida Bright", Georgia, serif;
$font-family-secondary-preload: "Lucida Bright", Georgia, serif;

$font-family-tertiary: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$font-family-tertiary-preload: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

$font-family-code: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
$font-family-code-preload: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
