// ============================================================================
// Font
// Tracking
// ============================================================================


$font-tracking-tightest: em(-7) !default;
$font-tracking-tighter: em(-5) !default;
$font-tracking-tight: em(-3) !default;
$font-tracking-slight: em(1) !default;
$font-tracking-loose: em(3) !default;
$font-tracking-looser: em(5) !default;
$font-tracking-loosest: em(7) !default;
