// ============================================================================
// Meta
// ============================================================================


// Used in other Sass logic


// Error Messaging ------------------------------------------------------------
$meta-invalid-argument: " is not a valid argument. ";

$meta-invalid-argument-select-multiple: "Please select one of the following: ";

$meta-invalid-argument-select-either: "Please select either: ";
