// ============================================================================
// Paths
// ============================================================================


// Modular Scale:
// http://www.modularscale.com/
$ratio-phi: 1.618; // Ratio: 1:1.618
$ratio-golden: 1.618; // Ratio: 1:1.618
$ratio-double-octave: 4; // Ratio: 1:4
$ratio-major-twelfth: 3; // Ratio: 1:3
$ratio-major-eleventh: 2.667; // Ratio: 3:8
$ratio-major-tenth: 2.5; // Ratio: 2:5
$ratio-octave: 2; // Ratio: 1:2
$ratio-major-seventh: 1.875; // Ratio: 8:15
$ratio-minor-seventh: 1.778; // Ratio: 9:16
$ratio-major-sixth: 1.667; // Ratio: 3:5
$ratio-minor-sixth: 1.6; // Ratio: 5:8
$ratio-fifth: 1.5; // Ratio: 2:3
$ratio-augmented-fourth: 1.414; // Ratio: 1:√2
$ratio-fourth: 1.333; // Ratio: 3:4
$ratio-major-third: 1.25; // Ratio: 4:5
$ratio-minor-third: 1.2; // Ratio: 5:6
$ratio-major-second: 1.125; // Ratio: 8:9
$ratio-minor-second: 1.067; // Ratio: 15:16
