<!-- #browserupgrade -->
<!--[if lt IE 8]>
<div
    id="o-browserupgrade"
    class="o-browserupgrade"
    aria-labelledby="title-outdated-browser">

    <h2 id="title-outdated-browser">
        You are using an outdated browser
    </h2>

    <p>
        Please <a rel="external noopener" href="http://browsehappy.com/">upgrade your browser to improve your experience</a>.
    </p>

</div>
<![endif]-->
