// CHECKBOXES AND RADIOS


// GROUPED STYLES -------------------------------------------------------------

input[type="checkbox"],
input[type="radio"] {
    @include form-label-distance();

    margin-top: ms(0);
    margin-right: 0.25em;
    position: relative;
      top: -0.19em;

    line-height: 1;
}


// Checkbox
//
// Represents a toggleable input.
//
// Markup:
// <label for="checkbox">
//   <input id="checkbox" name="checkbox" type="checkbox" />
//   I agree
// </label>
//
// Styleguide Elements.Forms.Checkbox
input[type="checkbox"] {

}


// Radio
//
// Represents an option in a range of inputs where one selection is mandatory.
//
// Markup:
// <fieldset>
//   <legend>Direction</legend>
//   <label for="up">
//     <input id="up" name="direction" type="radio" />
//     Up
//     </label>
//   <label for="down">
//     <input id="down" name="direction" type="radio" />
//     Down
//   </label>
// </fieldset>
//
// Styleguide Elements.Forms.Radio
input[type="radio"] {

}
