// Code
//
// Describes text related to computer input and output.
//
// Styleguide Elements.Code


// LOGIC ----------------------------------------------------------------------

@mixin code-inline-spacing() {
    margin-left: em(2);
    margin-right: em(2);
    padding-left: em(4);
    padding-right: em(4);
}


// GROUPED STYLES -------------------------------------------------------------

// [1] Ensures hyphenation won't interfere with code
code,
kbd,
pre,
samp,
var {
    @include typography-disable-opentype();
    @include typography-tracking(slight);

    overflow: auto; // [1]

    font-family: $font-family-code;
    line-height: $global-type-line-height;
    white-space: pre; // [1]
    white-space: pre-wrap; // [1]
    word-break: break-all; // [1]
    word-wrap: break-word; // [1]
}


// INDIVIDUAL STYLES ----------------------------------------------------------

// Code
//
// Represents a fragment of computer code.
//
// Markup:
// <code>!doctype html</code>
//
// Styleguide Elements.Code.Code
code {
    @include code-inline-spacing();
}


// Keyboard
//
// Represents computer input.
//
// Markup:
// <kbd>Esc</kbd>
//
// Styleguide Elements.Code.Keyboard
kbd {
    @include code-inline-spacing();
}


// Pre
//
// Represents a block of preformatted text.
//
// Markup:
// <pre>
//   ~/Documents/enchilada
// </pre>
//
// Styleguide Elements.Code.Pre
pre {
    line-height: 1.8;
}


// Samp
//
// Represents sample output from a computer program.
//
// Markup:
// <samp>Style guide build completed successfully!</samp>
//
// Styleguide Elements.Code.Samp
samp {
    @include code-inline-spacing();
}


// Var
//
// Represents a variable or placeholder.
//
// Markup:
// <var>userName</var>
//
// Styleguide Elements.Code.Var
var {
    @include code-inline-spacing();
}
