// Images
//
// Controls site images.
//
// Styleguide Elements.Images


// GROUPED STYLES -------------------------------------------------------------

img,
figure,
picture {
    @include component-responsify();
    @include typography-align(center);

    display: block;
    height: auto;
    max-width: 100%;
    vertical-align: middle; // Removes the whitespace that appears under `img` elements

    border: 0;

    // Fixed-size, non-fluid images if `height` and/or `width` attributes are
    // declared
    &[height],
    &[width] {
        max-width: none;
    }

    // Explain when images break:
    // https://bitsofco.de/styling-broken-images/
    &::before,
    &::after {
        display: block;
        padding-bottom: ms(0);
        padding-top: ms(0);

        font-size: 70%;
    }

    &::before {
        content: "Sorry, the link to this image appears to be broken.";
    }

    &::after {
        content: "Help us by reporting it: https://github.com/githubAuthor/githubTitle/issues";
    }
}


img,
picture {
    background-color: c(silver);
}


// INDIVIDUAL STYLES ----------------------------------------------------------

// Img
//
// Represents an image.
//
// Markup:
// <img
//   alt="Sample Image"
//   src="http://placehold.it/800x600?text=Sample+Image" />
//
// Styleguide Elements.Images.1
img {
  @media (inverted-colors: inverted) {
    filter: invert(100%);
  }
}


// Figure
//
// Represents self-contained content, typically illustrations.
//
// Markup:
// <figure>
//   <img alt="Sample Image" src="http://placehold.it/800x600?text=Sample+Image" />
//   <figcaption>
//     Caption for the sample image.
//   </figcaption>
// </figure>
//
// Styleguide Elements.Images.2
figure {

    img {
        display: block;
    }

    figcaption {

    }
}


// Picture
//
// Represents multiple source images for better performance.
//
// Markup:
// <picture>
//   <source media="(min-width: 40em)" srcset="http://placehold.it/800x450/7ED321/ffffff/?text=1x+Source+w/Breakpoint+Example 1x,
//     http://placehold.it/800x600/7ED321/ffffff/?text=2x+Source+w/Breakpoint+Example 2x">
//   <source srcset="http://placehold.it/500x250/F5A623/ffffff/?text=1x+Source+Example 1x,
//     http://placehold.it/500x250/F5A623/ffffff/?text=2x+Source+Example 2x">
//   <img src="http://placehold.it/600x400?text=Img+Fallback" alt="Picture Element" />
// </picture>
//
// Styleguide Elements.Images.3
picture {

}
