// INPUTS


// GROUPED STYLES -------------------------------------------------------------
// [1] Avoid using the not selector to keep specificity low

// Controls all inputs
input {
    line-height: 1;

    // Placeholder text
    &::-webkit-input-placeholder {
        @include form-placeholder();
    }

    &::-moz-placeholder {
        @include form-placeholder();
    }
}


// [1]
// Not `button`, `checkbox`, `radio`, or `range`
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="reset"],
input[type="search"],
input[type="submit"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
    @include form-border();
    @include form-state(input);
}


// [1]
// Not `button`, `checkbox`, or `radio`
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="reset"],
input[type="search"],
input[type="submit"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
    @include form-width();
}


// [1]
// Separation between label and input
// Not `button` or `range`
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="reset"],
input[type="search"],
input[type="submit"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
    @include form-label-distance();
}


// Text-based inputs
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"] {
    @include form-input-height(padded);
}


// Non-text-based inputs
input[type="color"],
input[type="file"],
input[type="range"] {
    @include form-input-height(height);
}


// STATES AND VALIDATION ------------------------------------------------------

// Valid input
//
// Represents an input with properly-formatted content.
//
// Markup:
// <label for="phone">
//   Phone number
//   <input id="phone" name="phone" type="tel" aria-invalid="false" />
// </label>
//
// Styleguide Elements.Forms.Invalid
input[aria-invalid="false"] {

}


// Invalid input
//
// Represents an input with improperly-formatted content.
//
// Markup:
// <label for="phone">
//   Phone number
//   <input id="phone" name="phone" type="tel" aria-invalid="true" />
// </label>
//
// Styleguide Elements.Forms.Invalid
input[aria-invalid="true"] {

}


// Autosave
//
// Represents an input that saves its content automatically.
//
// Markup:
// <label for="first-name">
//   First name
//   <input autosave id="first-name" name="first-name" type="text" />
// </label>
//
// Styleguide Elements.Forms.Autosave
input[autosave] {

}


// Disabled
//
// Represents an input whose content cannot be edited.
//
// Markup:
// <label for="last-name">
//   Last name
//   <input disabled id="last-name" name="last-name" type="text" />
// </label>
//
// Styleguide Elements.Forms.Autosave

// Disabled input should be immutable.
input[disabled] {
    border-color: transparentize(c(form, base), 0.5) !important;

    background-color: transparentize(c(base, background), 0.5) !important;

    color: transparentize(c(base, type), 0.5) !important;

    &:hover,
    &:active,
    &:focus {
        border-color: transparentize(c(form, base), 0.5) !important;

        background-color: transparentize(c(base, background), 0.5) !important;

        color: transparentize(c(base, type), 0.5) !important;
    }
}


// Minimum Length
//
// Represents an input who requires a minimum number of input characters.
//
// Markup:
// <label for="min-length">
//   Enter 10 or more characters
//   <input minlength="10" id="min-length" name="min-length" type="text" />
// </label>
//
// Styleguide Elements.Forms.Minimum-length
input[minlength] {

}


// Maximum Length
//
// Represents an input who requires less than a maximum number of input characters.
//
// Markup:
// <label for="max-length">
//   Enter 11 or less characters
//   <input maxlength="10" id="max-length" name="max-length" type="text" />
// </label>
//
// Styleguide Elements.Forms.Maximum-length
input[maxlength] {

}


// Readonly
//
// Represents an input with a value that can only be read and not edited.
//
// Markup:
// <label for="readonly">
//   True or false?
//   <input readonly id="readonly" name="readonly" type="text" value="true" />
// </label>
//
// Styleguide Elements.Forms.Readonly
input[readonly] {

}


// Required
//
// Represents an input whose input is required for submission.
//
// Markup:
// <label for="required">
//   Email
//   <input id="required" name="required" type="email" />
// </label>
//
// Styleguide Elements.Forms.Required
input[required] {

}


// INDIVIDUAL STYLES ----------------------------------------------------------

// Color
//
// Represents an input that selects a color.
//
// Markup:
// <label for="color">
//   Color
//   <input id="color" name="color" type="color" />
// </label>
//
// Styleguide Elements.Forms.Color
input[type="color"] {
    padding: 0;
}


// Date
//
// Represents an input that selects a date.
//
// Markup:
// <label for="date">
//   Select a date
//   <input id="date" name="date" type="date" />
// </label>
//
// Styleguide Elements.Forms.Date
input[type="date"] {

}


// Datetime-local
//
// Represents an input that selects a date and time, with no time zone specified.
//
// Markup:
// <label for="datetime-local">
//   Select a date and time
//   <input id="datetime-local" name="datetime-local" type="datetime-local" />
// </label>
//
// Styleguide Elements.Forms.Datetime-local
input[type="datetime-local"] {

}


// Email
//
// Represents an input that enters an email address.
//
// Markup:
// <label for="email">
//   Email address
//   <input id="email" name="email" type="email" />
// </label>
//
// Styleguide Elements.Forms.Email
input[type="email"] {

}


// File
//
// Represents an input that selects a file.
//
// Markup:
// <label for="file">
//   File
//   <input id="file" name="file" type="file" />
// </label>
//
// Styleguide Elements.Forms.File

// http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
input[type="file"] {
    background-color: c(base, background);

    &::-webkit-file-upload-button {
        margin-top: ms(0);
    }
}


// Month
//
// Represents an input that selects a month.
//
// Markup:
// <label for="month">
//   Month
//   <input id="month" name="month" type="month" />
// </label>
//
// Styleguide Elements.Forms.Month
input[type="month"] {

}


// Number
//
// Represents an input that selects a number.
//
// Markup:
// <label for="number">
//   Enter a number
//   <input id="number" name="number" type="number" />
// </label>
//
// Styleguide Elements.Forms.Number
input[type="number"] {

    &::-webkit-inner-spin-button {
        opacity: 1; // Always display spin controls: https://twitter.com/LeaVerou/status/1072994977876197377
    }
}


// Password
//
// Represents an input that masks input for secure entry.
//
// Markup:
// <label for="password">
//   Enter your password
//   <input id="password" name="password" type="password" />
// </label>
//
// Styleguide Elements.Forms.Password

input[type="password"] {

}


// Range
//
// Represents an input that selects something in a range of values.
//
// Markup:
// <label for="range">
//   Range Input
//   <input id="range" name="range" type="range" />
// </label>
//
// Styleguide Elements.Forms.Range
input[type="range"] {

}


// Search
//
// Represents an input for a search term.
//
// Markup:
// <label for="search">
//   Search
//   <input id="search" name="search" type="search" />
// </label>
//
// Styleguide Elements.Forms.Search
input[type="search"] {

}


// Telephone
//
// Represents an input for a phone number.
//
// Markup:
// <label for="tel">
//   Phone number
//   <input id="tel" name="tel" type="tel" />
// </label>
//
// Styleguide Elements.Forms.Telephone
input[type="tel"] {

}


// Text
//
// Represents an input for text.
//
// Markup:
// <label for="text">
//   Additional instructions
//   <input id="text" name="text" type="text" />
// </label>
//
// Styleguide Elements.Forms.Text
input[type="text"] {

}


// Time
//
// Represents an input for time.
//
// Markup:
// <label for="time">
//   Set your alarm
//   <input id="time" name="time" type="time" />
// </label>
//
// Styleguide Elements.Forms.Time
input[type="time"] {

}


// URL
//
// Represents an input for an URL.
//
// Markup:
// <label for="url">
//   Paste your URL here
//   <input id="url" name="url" type="url" />
// </label>
//
// Styleguide Elements.Forms.Url
input[type="url"] {

}

// Week
//
// Represents an input for a week.
//
// Markup:
// <label for="week">
//   Select your vacation week
//   <input id="week" name="week" type="week" />
// </label>
//
// Styleguide Elements.Forms.Week
input[type="week"] {

}
