// Label
//
// Represents a caption for a form input.
//
// Markup:
// <label for="first-name">First name</label>
//
// Styleguide Elements.Forms.Label
label {
    @include content-show-interaction(input);
    @include form-state(label);
    @include form-width();

    // Apply the `data-custom-select` attribute to a `<select>`'s label to
    // remove browser-generated select styling and replace it with your own
    // styling instructions
    &[data-custom-select] {
        &::after {
            @include component-align(float, end);
            @include content-remove-interaction();

            content: $symbol-arrow-point-down;

            margin-top: em(-32);
            margin-right: em(10);

            font-size: ms(0);
        }
    }
}
