// Links
//
// Controls for navigating to other content.
//
// Styleguide Elements.Links


// Link
//
// Represents a hyperlink to another location.
//
// Markup:
// <a rel="external noopener" href="https://en.wikipedia.org/wiki/Main_Page">Wikipedia</a>
//
// Styleguide Elements.Links.1
a {
    @include content-underline();

    color: c(link, base);

    // States
    &:hover {
        color: c(link, hover);
    }

    &:focus {
        color: c(link, focus);
    }

    &:active {
        color: c(link, active);
    }

    &:visited {
        color: c(link, visited);

        &:hover {
            color: c(link, hover);
        }

        &:focus {
            color: c(link, focus);
        }

        &:active {
            color: c(link, active);
        }
    }

    // Styles links that don't have a class declared on them
    &[href]:not([class]) {

    }

    // Display links when the `<a>` element has no text value but the href
    // attribute has a link
    &[href^="http"]:empty::before {
      content: attr(href);
    }

    &[aria-busy="true"] {
        color: c(link, busy);
    }

    &[rel~="external"],
    &[rel~="noopener"],
    &[href^="http"] {

    }

    &[download] {

    }
}


// Email
//
// Represents a hyperlink to an email address.
//
// Markup:
// <a href="mailto:name@domain.com">Contact me</a>
//
// Styleguide Elements.Links.2
a[href^="mailto"] {

}


// Phone
//
// Represents a hyperlink to a phone number.
//
// Markup:
// <a href="tel:867-5309">867-5309</a>
//
// Styleguide Elements.Links.3
a[href^="tel"] {

}


// FTP
//
// Represents a hyperlink to a file transfer service.
//
// Markup:
// <a href="ftp:ftp.microsoft.com">ftp.microsoft.com</a>
//
// Styleguide Elements.Links.4
a[href^="ftp"] {

}


// Archives
//
// Represents a hyperlink to a compressed collection of data.
//
// Markup:
// <a download href="downloads/archive.zip">archive.zip</a>
//
// Styleguide Elements.Links.5
a[href$=".7z"],
a[href$=".cab"],
a[href$=".gz"],
a[href$=".lzh"],
a[href$=".rar"],
a[href$=".tar"],
a[href$=".zip"] {

}


// Design
//
// Represents a hyperlink to a file typically used by a design application.
//
// Markup:
// <a download href="downloads/homepage.sketch">homepage.sketch</a>
//
// Styleguide Elements.Links.6
a[href$=".ai"],
a[href$=".indd"],
a[href$=".indt"],
a[href$=".sketch"],
a[href$=".psb"],
a[href$=".psd"],
a[href$=".xcf"] {

}


// Development
//
// Represents a hyperlink to a file typically used by a development application.
//
// Markup:
// <a download href="downloads/main.css">main.css</a>
//
// Styleguide Elements.Links.7
a[href$=".atom"],
a[href$=".cgi"],
a[href$=".coffee"],
a[href$=".css"],
a[href$=".csv"],
a[href$=".erb"],
a[href$=".htm"],
a[href$=".html"],
a[href$=".js"],
a[href$=".less"],
a[href$=".markdown"],
a[href$=".md"],
a[href$=".php"],
a[href$=".php"],
a[href$=".pl"],
a[href$=".py"],
a[href$=".rb"],
a[href$=".rb"],
a[href$=".rss"],
a[href$=".sass"],
a[href$=".scss"],
a[href$=".styl"],
a[href$=".swf"],
a[href$=".xhtml"],
a[href$=".xml"],
a[href$=".yml"] {

}


// Documents
//
// Represents a hyperlink to a file typically used for word processing.
//
// Markup:
// <a download href="downloads/finances.xls">finances.xls</a>
//
// Styleguide Elements.Links.8
a[href$=".doc"],
a[href$=".docx"],
a[href$=".key"],
a[href$=".numbers"],
a[href$=".odt"],
a[href$=".pages"],
a[href$=".pdf"],
a[href$=".pps"],
a[href$=".ppsx"],
a[href$=".ppt"],
a[href$=".pptx"],
a[href$=".ps"],
a[href$=".pub"],
a[href$=".rtf"],
a[href$=".txt"],
a[href$=".xls"],
a[href$=".xlr"] {

}


// E-Books
//
// Represents a hyperlink to a file used by E-readers.
//
// Markup:
// <a download href="downloads/books/a-tale-of-two-cities.mobi">A Tale of Two Cities</a>
//
// Styleguide Elements.Links.9
a[href$=".azw"],
a[href$=".azw3"],
a[href$=".cbr"],
a[href$=".cbz"],
a[href$=".epub"],
a[href$=".mobi"] {

}


// Development
//
// Represents a hyperlink to a font file.
//
// Markup:
// <a download href="downloads/fonts/TisaOT.otf">TisaOT</a>
//
// Styleguide Elements.Links.10
a[href$=".eot"],
a[href$=".otf"],
a[href$=".ttf"],
a[href$=".woff"],
a[href$=".woff2"] {

}


// Images
//
// Represents a hyperlink to an image.
//
// Markup:
// <a download href="downloads/images/cat.png">Photo of Smokey enjoying the sun</a>
//
// Styleguide Elements.Links.11
a[href$=".bmp"],
a[href$=".gif"],
a[href$=".gifv"],
a[href$=".ico"],
a[href$=".jpg"],
a[href$=".jpeg"],
a[href$=".png"],
a[href$=".svg"],
a[href$=".svz"],
a[href$=".tiff"],
a[href$=".tif"],
a[href$=".webp"] {

}


// Movies
//
// Represents a hyperlink to a movie.
//
// Markup:
// <a download href="downloads/movies/sunrise.mov">The sun rising over the mountains</a>
//
// Styleguide Elements.Links.12
a[href$=".avi"],
a[href$=".flv"],
a[href$=".mkv"],
a[href$=".mov"],
a[href$=".mp4"],
a[href$=".mpg"],
a[href$=".mpeg"],
a[href$=".wmv"] {

}


// Music
//
// Represents a hyperlink to music.
//
// Markup:
// <a download href="downloads/music/1812.mp3">Tchaikovsky - 1812 Overture (Full with Cannons)</a>
//
// Styleguide Elements.Links.13
a[href$=".aac"],
a[href$=".aif"],
a[href$=".aiff"],
a[href$=".flac"],
a[href$=".m4a"],
a[href$=".mid"],
a[href$=".midi"],
a[href$=".mp3"],
a[href$=".ogg"],
a[href$=".vob"] {

}


// Version Control
//
// Represents a hyperlink code version control.
//
// Markup:
// <a rel="external noopener" href="https://github.com/ericwbailey/enchilada.git">enchilada</a>
//
// Styleguide Elements.Links.14
a[href$=".git"],
a[href$=".svn"] {

}
