// Select
//
// Represents a control for selecting amongst a set of options.
//
// Markup:
// <label data-custom-select for="avocado-type">
//   Avocado type
//   <select id="avocado-type" name="avocado-type">
//     <option value="fuerte">Fuerte</option>
//     <option value="gwen">Gwen</option>
//     <option value="hass">Hass</option>
//     <option value="pinkerton">Pinkerton</option>
//     <option value="reed">Reed</option>
//     <option value="zutano">Zutano</option>
//   </select>
// </label>
//
// Styleguide Elements.Forms.Select
select {
    @include form-border();
    @include form-input-height(padded);
    @include form-label-distance();
    @include form-state(input);
    @include form-width();

    border-radius: 0;

    background-color: c(base, background);
    background-image: url('data:image/svg+xml;utf8,<svg width="18" height="10" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M8.022 9.328c.779.9 2.046.893 2.819 0l6.663-7.7C18.282.73 17.973 0 16.81 0H2.051C.892 0 .588.736 1.36 1.628l6.663 7.7z" fill-rule="evenodd"/></svg>');
    background-position: right ms(0) center;
    background-repeat: no-repeat;
    background-size: 1em auto;

    line-height: 1.2; // Keeps descenders from being clipped

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-ms-expand {
        display: none; // https://stackoverflow.com/questions/20163079/remove-select-arrow-on-ie/20163273#20163273
    }

    &[multiple] {
        @include form-input-height(multi-line);

        padding: 0; // Undoes `form-input-padding()` so `<option>`s extend full-width

        background: none;

        option {
            padding: 0.5em; // Highlights entire `<option>` row when selected
        }
    }
}


select optgroup {
    font-weight: $font-weight-bold; // Creates distinction between optgroup and option
}


select option {
    font-weight: $font-weight-normal; // Creates distinction between optgroup and option
}
