// Textarea
//
// An multiline text entry field.
//
// Markup:
// <label for="textarea">
//   Textarea
//   <textarea id="textarea" name="textarea"></textarea>
// </label>
//
// Styleguide Elements.Forms.Textarea
textarea {
    @include form-border();
    @include form-input-height(multi-line);
    @include form-label-distance();
    @include form-state(input);
    @include form-width();

    overflow: auto;
    padding-top: ms(0);
    padding-bottom: ms(0);

    resize: vertical;
}
