// ============================================================================
// Content
// Underline
// ============================================================================


$content-underline-color: $global-underline-color;
$content-underline-background-color: $global-underline-background-color;
$content-underline-gap: $global-underline-gap;
$content-underline-gap-minimum: $global-underline-gap-minimum;
$content-underline-opacity: $global-underline-opacity;
$content-underline-position: $global-underline-position;
$content-underline-size: $global-underline-size;


/// Creates a thin underline with gaps for the font's descenders. Settings
/// provide a decent default, tweak as needed. Set state effects (hover, active,
/// etc.) on a case-by-case basis. See `_links.scss`.
///
/// @group Content
///
/// @parameter {Color}       $color            [$global-underline-color]            - Sets the color of the underline
/// @parameter {Color}       $background-color [$global-underline-background-color] - Should be set to the component's background color
/// @parameter {Measurement} $gap              [$global-underline-gap]              - Sets the stroke outline size
/// @parameter {Measurement} $gap-minumum      [$global-underline-gap-minimum]      - Sets the minimum outline gap
/// @parameter {Number}      $opacity          [$global-underline-opacity]          - Sets how much of the background color shows through
/// @parameter {Measurement} $position         [$global-underline-position]         - Sets the distance of the underline from the text
/// @parameter {Measurement} $size             [$global-underline-size]             - Sets the thickness of the underline
///
/// @example scss
///  @include content-underline();
///
/// @link https://codepen.io/jonneal/pen/PzGYEE?editors=0100 Decorative Text Underline


@mixin content-underline(
    $color: $content-underline-color,
    $background-color: $content-underline-background-color,
    $gap: $content-underline-gap,
    $opacity: $content-underline-opacity,
    $position: $content-underline-position,
    $size: $content-underline-size) {
        box-shadow:
          inset 0 ($position + $size) 0 0 $background-color,
          inset 0 $position 0 0 transparentize($background-color, $opacity),
          inset 0 $position 0 0 $color;
        text-decoration: none;
        text-shadow:
          -$gap 0 $background-color,
          $gap 0 $background-color,
          $content-underline-gap-minimum 0 $background-color,
          $content-underline-gap-minimum 0 $background-color;
}
