// ============================================================================
// Content
// Align Content
// ============================================================================


@mixin content-align($method, $direction) {
    @if ($method == "float")
    and ($direction == "left") {
        float: left;
    }
    @else if ($method == "float")
    and ($direction == "right") {
        float: right;
    }

    @else if ($method == "flex")
    and ($direction == "left") {
        margin-right: auto;
    }
    @else if ($method == "flex")
    and ($direction == "right") {
        margin-left: auto;
    }

    @else {
        @error "Please use a `$method` argument of either `float` or `flex` and a `$direction` argument of either `left` or `right`.";
    }
}


// Toggles --------------------------------------------------------------------
// Enables functional class toggles. See `_config.scss`
@if $toggle-content-align-float-left == true {
    .content-align-float-left {
        @include content-align(float, left);
    }
}

@if $toggle-content-align-float-right == true {
    .content-align-float-right {
        @include content-align(float, right);
    }
}

@if $toggle-content-align-flex-left == true {
    .content-align-flex-left {
        @include content-align(flex, left);
    }
}

@if $toggle-content-align-flex-right == true {
    .content-align-flex-right {
        @include content-align(flex, right);
    }
}
