// ============================================================================
// Text Truncate
// ============================================================================


// Requires the element to be block or inline-block
@mixin content-text-truncate() {
    overflow: hidden;

    display: inline-block;
	text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
	white-space: nowrap;
}


@if $toggle-content-text-truncate == true {
    .content-text-truncate {
        @include content-text-truncate();
    }
}
