// ============================================================================
// Text Truncate
// ============================================================================


// Requires the element to be block or inline-block
@mixin text-truncate() {
    overflow: hidden;

    display: inline-block;
	text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
	white-space: nowrap;
}
