// ============================================================================
// Content
// Align Content
// ============================================================================

// TODO: Vertical alignment and centering

@mixin content-align($method, $direction) {
    @if ($method == "float")
    and ($direction == "start") {
        float: left;
    }
    @else if ($method == "float")
    and ($direction == "end") {
        float: right;
    }

    @else if ($method == "flex")
    and ($direction == "start") {
        margin-right: auto;
    }
    @else if ($method == "flex")
    and ($direction == "end") {
        margin-left: auto;
    }

    @else {
        @error "Please use a `$method` argument of either `float` or `flex` and a `$direction` argument of either `start` or `end`.";
    }
}


// Toggles --------------------------------------------------------------------
// Enables functional class toggles. See `_config.scss`
@if $toggle-content-align-float-start == true {
    .content-align-float-start {
        @include content-align(float, start);
    }
}

@if $toggle-content-align-float-end == true {
    .content-align-float-end {
        @include content-align(float, end);
    }
}

@if $toggle-content-align-flex-start == true {
    .content-align-flex-start {
        @include content-align(flex, start);
    }
}

@if $toggle-content-align-flex-end == true {
    .content-align-flex-end {
        @include content-align(flex, end);
    }
}
