// ============================================================================
// Content
// Clearfix
// ============================================================================


@mixin content-clearfix($add-or-remove) {
    @if (type-of($add-or-remove) == "add") {
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    @else if (type-of($add-or-remove) == "remove") {
        &:after {
            display: initial;
            clear: none;
        }
    }

    @else {
        @error "`#{$add-or-remove}`" + $meta-invalid-argument + $meta-invalid-argument-select-either
        + "`add` or `remove`";
    }
}


// Toggles --------------------------------------------------------------------
// Enables functional class toggles. See `_config.scss`
@if $toggle-content-clearfix-add == true {
    .content-clearfix-add {
        @include content-clearfix(add);
    }
}

@if $toggle-content-clearfix-remove == true {
    .content-clearfix-remove {
        @include content-clearfix(remove);
    }
}
