// ============================================================================
// Clearfix
// ============================================================================


@mixin content-clearfix() {
    & {
        *zoom: 1;
    }

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}


// Toggles ====================================================================
// Enables functional class toggles. See `_config.scss`
@if $toggle-content-clearfix == true {
    .content-clearfix {
        @include content-clearfix();
    }
}
