// ============================================================================
// Alternate Historical
// ============================================================================


// http://utility-opentype.kennethormandy.com/#hist

// Text that references past methods of presentation
@mixin typography-alternates-historical() {
    -ms-font-feature-settings: "hist";
    font-variant-alternates: historical-forms;

    @supports not (font-variant-alternates: historical-forms) {
        -webkit-font-feature-settings: "hist";
        font-feature-settings: "hist";
    }
}


// Toggles ====================================================================
// Enables functional class toggles. See `_config.scss`
@if $toggle-typography-alternates-historical == true {
    .typography-alternates-historical {
        @include typography-alternates-historical();
    }
}
