// ============================================================================
// Diagonal Fractions
// ============================================================================


// Turns common plaintext number lockups into properly spaced fractions (i.e.
// 1/4 to ¼)
@mixin typography-numbers-diagonal-fractions() {
    -ms-font-feature-settings: "frac", "afrc" 0;
    font-variant-numeric: diagonal-fractions;

    @supports not (font-variant-numeric: diagonal-fractions) {
        -webkit-font-feature-settings: "frac", "afrc" 0, "frac";
        font-feature-settings: "frac", "afrc" 0, "frac";
    }
}
