// ============================================================================
// Typography
// Proportional Lining Numbers
// ============================================================================


// http://utility-opentype.kennethormandy.com/#pnum-lnum

// Tabular numerals are monospaced, so different information can be easily
// compared when stacked vertically:
@mixin typography-numbers-proportional-lining() {
    @include typography-numbers-proportional();
    @include typography-numbers-lining();

    -ms-font-feature-settings: "lnum", "onum" 0, "pnum", "tnum" 0;

    @supports not ((-webkit-font-feature-settings: "lnum" inherit) or (font-feature-settings: "lnum" inherit)) {
        -webkit-font-feature-settings: "lnum", "onum" 0, "pnum", "tnum" 0;
        font-feature-settings: "lnum", "onum" 0, "pnum", "tnum" 0;
    }
}


// Toggles --------------------------------------------------------------------
// Enables functional class toggles. See `_config.scss`
@if $toggle-typography-numbers-proportional-lining == true {
    .typography-numbers-proportional-lining {
        @include typography-numbers-proportional-lining();
    }
}
