// ============================================================================
// Animation
// Ease
// ============================================================================


$animation-ease: (
    character:  ease-in-out,
    dialogue:   ease-out,
    background: linear
);
