// ============================================================================
// Units
// Strip Unit
// ============================================================================


@function strip-unit($number) {
    @if (type-of($number) == 'number')
    and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @else {
        @error "`#{$number}`"
        + $meta-invalid-argument
        + $meta-invalid-argument-provide
        + "a number with a unit suffix (ex. `12rem`)";
    }

    @return $number;
}
