// ============================================================================
// Project Config
// ============================================================================


$global-type-family: $font-family-primary;
$global-type-size: 16px !default;
$global-type-weight: $font-weight-medium;
$global-type-line-height: 1.4;


// Toggles --------------------------------------------------------------------
// Set variables to `true` to generate functional classes as needed

// Component
$toggle-component-set-type-size: false;

// Content
$toggle-content-clearfix: false;
$toggle-content-hide-visually: false;
$toggle-content-hide-invisible: false;
$toggle-content-hide-remove: false;
$toggle-content-no-select: false;
$toggle-content-remove-interaction: false;
$toggle-content-shift-click: false;
$toggle-content-show-visually: false;
$toggle-content-show-visually: false;
$toggle-content-show-invisible: false;
$toggle-content-show-remove: false;
$toggle-content-text-truncate: false;

// Typography
$toggle-typography-numbers-proportional-oldstyle: false;
