@charset "UTF-8";
// ============================================================================
// Styleguide
// ============================================================================


// Variables ------------------------------------------------------------------
@import
    "utilities/variables/meta",
    "utilities/variables/paths",
    "utilities/variables/font.families",
    "utilities/variables/font.weights",
    "utilities/variables/ratios";


// Maps -----------------------------------------------------------------------
@import
    "utilities/maps/colors";


// Config and Toggles ---------------------------------------------------------
@import
    "config",
    "toggles";


// Functions ------------------------------------------------------------------
@import
    "utilities/functions/content.color";



// Overrides ------------------------------------------------------------------
.kss-header__hamburger-trigger,
.kss-section__permalink {
    box-shadow: none;

    text-shadow: none;
}

.kss-modifiers__heading,
.kss-section__item,
.kss-title, {
    color: c(styleguide, type-dark);
}

.kss-title {
    margin-left: 10px;

    font-size: 1rem;
    text-align: left;
}

.kss-markdown ol,
.kss-markdown ul {
    padding-left: 0;
}

.kss-modifiers__heading {
    font-size: 1rem;
}

.kss-modifiers__name {
    color: c(styleguide, type-light);

    &:not(:first-of-type) {
        margin-top: 2rem;
    }
}

.kss-navigation {
    border-right: 1px solid #cccccc;
    box-shadow: none;
}

.kss-nav__item {
    margin-left: 0;

    &::before {
        content: none;
    }
}

.kss-section__content {
    padding-bottom: 0;
}

.kss-section__item--depth-1 {
    font-size: 1.3rem;
    font-weight: 700;
}

.kss-section--depth-1 {
    background-color: c(styleguide, background);
}

.kss-section__item--depth-2 {
    font-size: 1.2rem;
    font-weight: 700;
}

.kss-section__markup {
    font-size: 80%;
}

.kss-nav__item a.kss-state-active {
    color: c(styleguide, type-dark);
}
