// ============================================================================
// Body
// ============================================================================


body {
    overflow-x: hidden;

    color: c(base, type);
    font-size: component-set-type-size();
}

// Lobotomized Owl selector provides default vertical spacing:
// http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
body * + * {
    margin-top: 1.5rem; // TODO: Update this with vertical rhythm
}
