// ============================================================================
// Forms
// ============================================================================


// Form Containers ------------------------------------------------------------
form {

}


fieldset {
background-color: #F4F4F4;
}


legend {

}


// Form Labels ----------------------------------------------------------------
label {
    cursor: pointer; 
}


// Inputs ---------------------------------------------------------------------
input {
    display: block;

    border: 1px solid c(base, type);

    &[type="color"] {

    }

    &[type="date"] {

    }

    &[type="email"] {

    }

    &[list] {

    }

    &[type="month"] {

    }

    &[type="number"] {

    }

    &[type="password"] {

    }

    &[type="range"] {

    }

    &[type="search"] {

    }

    &[type="tel"] {

    }

    &[type="text"] {

    }

    &[type="time"] {

    }

    &[type="url"] {

    }

    &[type="week"] {

    }
}

textarea {
    overflow: auto;

    border: 1px solid c(base, type);
}


// Text-based Inputs ----------------------------------------------------------
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input datalist {

}


// Non-text-based Inputs ------------------------------------------------------
input[type="color"],
input[type="file"],
input[type="range"] {

}


// Select Inputs --------------------------------------------------------------
select {
    border: 1px solid c(base, type);
}


select optgroup {

}


select option {

}


// Checkboxes and Radios ------------------------------------------------------
input {
    &[type="checkbox"],
    &[type="radio"] {

    }
}

input[type="checkbox"] {

}

input[type="radio"] {

}


// Output ---------------------------------------------------------------------
progress,
meter {

}


progress {

}


meter {

}


// Validation -----------------------------------------------------------------
[name="required"] {

}


[readonly] {

}


input[disabled] {

}


[aria-invalid="false"] {

}


[aria-invalid="true"] {

}


[autosave] {

}


// TODO Contains pattern

// TODO minlength, maxlength
