// ============================================================================
// Forms
// ============================================================================


// Form Logic -----------------------------------------------------------------
@mixin form-border() {
    border: 1px solid c(base, type);
}

@mixin form-width() {
    display: block;
    width: 100%;
}


// Form Containers ------------------------------------------------------------
form {

}


fieldset {
background-color: #F4F4F4;
}


legend {

}


// Form Labels ----------------------------------------------------------------
label {
    @include content-show-interaction();
}


// Inputs ---------------------------------------------------------------------
input {
    @include form-border();
    @include form-width();

    &[type="color"] {

        &::-webkit-color-swatch-wrapper {
            background-color: c(base, background);
        }
    }

    &[type="date"] {

    }

    &[type="email"] {

    }

    &[list] {

    }

    &[type="month"] {

    }

    &[type="number"] {

    }

    &[type="password"] {

    }

    &[type="range"] {

    }

    &[type="search"] {

    }

    &[type="tel"] {

    }

    &[type="text"] {

    }

    &[type="time"] {

    }

    &[type="url"] {

    }

    &[type="week"] {

    }
}

textarea {
    @include form-border();
    @include form-width();

    overflow: auto;
}


// Text-based Inputs ----------------------------------------------------------
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input datalist {

}


// Non-text-based Inputs ------------------------------------------------------
input[type="color"],
input[type="file"],
input[type="range"] {

}


// Select Inputs --------------------------------------------------------------
select {
    @include form-border();
    @include form-width();

    -webkit-border-radius: 0px;
}


select optgroup {

}


select option {
    margin-top: 0; // Undoes lobotomoized owl selector
}


// Checkboxes and Radios ------------------------------------------------------
input {
    &[type="checkbox"],
    &[type="radio"] {

    }
}

input[type="checkbox"] {

}

input[type="radio"] {

}


// Output ---------------------------------------------------------------------
progress,
meter {
    @include form-width();

    &::-webkit-progress-value,
    &::-webkit-meter-optimum-value {
        background: c(blue);
    }

    &::-webkit-progress-bar,
    &::-webkit-meter-bar {
        background: c(silver);
    }
}


progress {

}


meter {

}


// Validation -----------------------------------------------------------------
[name="required"] {

}


[readonly] {

}


input[disabled] {

}


[aria-invalid="false"] {

}


[aria-invalid="true"] {

}


[autosave] {

}


// TODO Contains pattern

// TODO minlength, maxlength
