// ============================================================================
// Headings
// ============================================================================


h1,
h2,
h3,
h4,
h5,
h6 {
    color: c(heading, base);
}


// Odd Headings
h1,
h3,
h5 {
    color: c(heading, odd);
}


// Even Headings
h2,
h4,
h6 {
    color: c(heading, even);
}


// Visual heading styling. Allows author to use ordered headings to retain an
// accessible heading order, but match the design.
.heading-giga {

}


.heading-mega {

}


.heading-alpha {

}


.heading-beta {

}


.heading-gamma {

}


.heading-delta {

}


.heading-epsilon {

}


.heading-zeta {

}


.heading-eta {

}
