// ============================================================================
// Images
// ============================================================================


// Grouped Styles -------------------------------------------------------------
// [1] Basic responsive images
// [2] Differentiate `alt` text from surrounding copy
// [3] Removes the whitespace that appears under `img` elements
img,
figure,
picture {
    @mixin typography-align(center); // [2]

    max-width: 100%; // [1]
    vertical-align: middle; // [3]

    font-style: italic; // [2]

    // Fixed-size, non-fluid images if `height` and/or `width` attributes are
    // declared
    &[height],
    &[width] {
        max-width: none;
    }
}


img,
picture {

}


// Individual Styles ----------------------------------------------------------
img {

}

figure {

    img {
        display: block;
    }

    figcaption {

    }
}


picture {

}
